In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [41]:
efw_data = pd.read_excel("Economic Freedom Of The World Dataset 2023.xlsx")
efw_data.head()
# Data shown below has the first 4 rows full of null data, code below will delete the rows that are null

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1A,NaN,...,NaN,NaN,5D,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5Civ,NaN,5Di,5Dii,5Diii,NaN,NaN,NaN,NaN,NaN
3,NaN,Year,ISO Code 2,ISO Code 3,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government consumption,data,...,5Civ Tax compliance,5C Business regulations,5Di Market openness,5Dii Business Permits,5Diii Distorton of the business environment,5D Freedom to enter markets and compete,5 Regulation,Area 5 Rank,World Bank Region,"World Bank Current Income Classification, 1990..."
4,NaN,2021,AL,ALB,Albania,7.6,31,1,7.758824,13.62,...,3.587625,5.312221,6.810619,5.62194,6.25,6.22752,6.972552,51,Europe & Central Asia,UM

In [42]:
efw_data = efw_data.drop(efw_data.index[:3])

In [43]:
efw_data.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85
3,NaN,Year,ISO Code 2,ISO Code 3,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government consumption,data,...,5Civ Tax compliance,5C Business regulations,5Di Market openness,5Dii Business Permits,5Diii Distorton of the business environment,5D Freedom to enter markets and compete,5 Regulation,Area 5 Rank,World Bank Region,"World Bank Current Income Classification, 1990..."
4,NaN,2021,AL,ALB,Albania,7.6,31,1,7.758824,13.62,...,3.587625,5.312221,6.810619,5.62194,6.25,6.22752,6.972552,51,Europe & Central Asia,UM
5,NaN,2021,DZ,DZA,Algeria,4.82,157,4,3.467647,28.21,...,4.764764,3.735188,4.41243,8.771111,3.134281,5.439274,4.836754,150,Middle East & North Africa,LM
6,NaN,2021,AO,AGO,Angola,5.38,149,4,7.179412,15.59,...,4.641462,4.285256,3.099164,7.916416,1.25,4.088527,4.730618,153,Sub-Saharan Africa,LM
7,NaN,2021,AR,ARG,Argentina,4.77,158,4,5.691176,20.65,...,4.504147,4.862998,6.144822,5.726521,2.922359,4.931234,5.299677,143,Latin America & the Caribbean,UM

In [44]:
# Set the first row as the header
efw_data.columns = efw_data.iloc[0]

In [45]:
# Remove the first row
efw_data = efw_data[1:].reset_index(drop=True)

In [46]:
# Drops the first column because it consists of nulls
efw_data = efw_data.dropna(axis=1, how='all')

In [47]:
# Changes the first cell to 'Year'
efw_data.columns = ['Year'] + list(efw_data.columns[1:])

In [55]:
efw_data.head()

,Year,ISO Code 2,ISO Code 3,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government consumption,data,1B Transfers and subsidies,...,5Civ Tax compliance,5C Business regulations,5Di Market openness,5Dii Business Permits,5Diii Distorton of the business environment,5D Freedom to enter markets and compete,5 Regulation,Area 5 Rank,World Bank Region,"World Bank Current Income Classification, 1990-present"
0,2021,AL,ALB,Albania,7.6,31,1,7.758824,13.62,7.133515,...,3.587625,5.312221,6.810619,5.62194,6.25,6.22752,6.972552,51,Europe & Central Asia,UM
1,2021,DZ,DZA,Algeria,4.82,157,4,3.467647,28.21,7.817129,...,4.764764,3.735188,4.41243,8.771111,3.134281,5.439274,4.836754,150,Middle East & North Africa,LM
2,2021,AO,AGO,Angola,5.38,149,4,7.179412,15.59,9.702997,...,4.641462,4.285256,3.099164,7.916416,1.25,4.088527,4.730618,153,Sub-Saharan Africa,LM
3,2021,AR,ARG,Argentina,4.77,158,4,5.691176,20.65,5.536785,...,4.504147,4.862998,6.144822,5.726521,2.922359,4.931234,5.299677,143,Latin America & the Caribbean,UM
4,2021,AM,ARM,Armenia,7.58,33,1,6.473529,17.99,7.316076,...,6.020369,5.55686,5.590883,9.302574,5,6.631152,6.939219,52,Europe & Central Asia,UM

In [49]:
efw_data.isnull()

,Year,ISO Code 2,ISO Code 3,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government consumption,data,1B Transfers and subsidies,...,5Civ Tax compliance,5C Business regulations,5Di Market openness,5Dii Business Permits,5Diii Distorton of the business environment,5D Freedom to enter markets and compete,5 Regulation,Area 5 Rank,World Bank Region,"World Bank Current Income Classification, 1990-present"
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4615,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,True,True,False,False,False,True
4616,False,False,False,False,True,True,True,True,True,True,...,True,False,True,True,True,True,True,True,False,True
4617,False,False,False,False,True,True,True,True,True,True,...,True,False,True,True,True,True,True,True,False,True
4618,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,True,True,False,False,False,True
4619,False,False,False,False,True,True,True,False,False,True,...,True,False,True,True,True,True,True,True,False,True

In [50]:
# There are many countries with ull values such as Vietnam, there cannot be mean or mode imputations so those rows will just get dropped
efw_data[efw_data.isnull().any(axis=1)]

,Year,ISO Code 2,ISO Code 3,Countries,Economic Freedom Summary Index,Rank,Quartile,1A Government consumption,data,1B Transfers and subsidies,...,5Civ Tax compliance,5C Business regulations,5Di Market openness,5Dii Business Permits,5Diii Distorton of the business environment,5D Freedom to enter markets and compete,5 Regulation,Area 5 Rank,World Bank Region,"World Bank Current Income Classification, 1990-present"
8,2021,BS,BHS,"Bahamas, The",6.55,93,3,6.114706,19.21,7.967302,...,6.631277,6.204527,8.004065,7.982034,6.25,7.412033,6.884125,54,Latin America & the Caribbean,H
11,2021,BB,BRB,Barbados,6.94,72,2,7.685294,13.87,6.645777,...,6.149276,5.891138,5.477763,4.999638,8.75,6.409134,7.053086,47,Latin America & the Caribbean,H
12,2021,BY,BLR,Belarus,6.23,109,3,4.597059,24.37,5.722071,...,5.782244,4.166489,5.555652,8.339497,1.25,5.048383,5.511742,137,Europe & Central Asia,UM
14,2021,BZ,BLZ,Belize,5.91,126,4,5.461765,21.43,8.43126,...,7.926115,5.436594,5.150726,8.599076,5,6.249934,6.686046,75,Latin America & the Caribbean,LM
15,2021,BJ,BEN,Benin,6.41,98,3,7.941176,13,9.771475,...,4.736741,5.317322,4.293807,9.475695,3.75,5.839834,6.786517,64,Sub-Saharan Africa,LM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4615,1970,VE,VEN,"Venezuela, RB",7.29,14,1,6.602003,17.553191,9.82743,...,NaN,6.335,NaN,NaN,NaN,NaN,6.545577,35,Latin America & the Caribbean,NaN
4616,1970,VN,VNM,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.55,NaN,NaN,NaN,NaN,NaN,NaN,East Asia & Pacific,NaN
4617,1970,YE,YEM,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,5.0175,NaN,NaN,NaN,NaN,NaN,NaN,Middle East & North Africa,NaN
4618,1970,ZM,ZMB,Zambia,5.26,61,3,3.448131,28.276353,9.10543,...,NaN,6.0675,NaN,NaN,NaN,NaN,6.697414,32,Sub-Saharan Africa,NaN
4619,1970,ZW,ZWE,Zimbabwe,NaN,NaN,NaN,7.806922,13.456464,NaN,...,NaN,0.4975,NaN,NaN,NaN,NaN,NaN,NaN,Sub-Saharan Africa,NaN

In [51]:
efw_data_cleaned = efw_data.dropna()

In [52]:
# Check once again to see if there are null values
efw_data_cleaned.isnull().sum().sum()

0

In [56]:
# Exports the cleaned data for further visualization in BI
efw_data_cleaned.to_excel('new_cleaned_EFW_data.xlsx', index=False)

In [59]:
print(efw_data_cleaned.columns)

Index(['Year', 'ISO Code 2', 'ISO Code 3', 'Countries',
       'Economic Freedom Summary Index', 'Rank', 'Quartile',
       '1A Government consumption', 'data', '1B  Transfers and subsidies',
       'data', '1C  Government investment', 'data',
       '1Di Top marginal income tax rate', 'data',
       '1Dii Top marginal income and payroll tax rate', 'data',
       '1D  Top marginal tax rate', 'IE State ownership',
       '1  Size of Government', 'Area 1 Rank', '2A  Judicial independence',
       '2B  Impartial courts', '2C  Property rights',
       '2D  Military interference', '2E Legal integrity', '2F Contracts',
       '2G Real property', '2H Police and crime', 'Gender Disparity Index',
       '2  Legal System & Property Rights -- With Gender Adjustment',
       'Area 2 Rank',
       '2 Legal System & Property Rights - No Gender Adjustment',
       '3A  Money growth', 'data', '3B  Standard deviation of inflation',
       'data', '3C  Inflation', 'data', '3D  Foreign currency bank accounts',
       '3  Sound Money', 'Area 3 Rank', '4Ai  Trade tax revenue', 'data',
       '4Aii  Mean tariff rate', 'data',
       '4Aiii  Standard deviation of tariff rates', 'data', '4A  Tariffs',
       '4Bi  Non-tariff trade barriers',
       '4Bii  Costs of importing and exporting',
       '4B  Regulatory trade barriers', '4C  Black market exchange rates',
       '4Di  Financial openness', '4Dii  Capital controls',
       '4Diii Freedom of foreigners to visit',
       '4Div Protection of Foreign Assets',
       '4D  Controls of the movement of capital and people',
       '4  Freedom to trade internationally', 'Area 4 Rank',
       '5Ai  Ownership of banks', '5Aii Private sector credit',
       '5Aiii  Interest rate controls/negative real interest rates)',
       '5A  Credit market regulation',
       '5Bi  Labor regulations and minimum wage',
       '5Bii  Hiring and firing regulations',
       '5Biii  Flexible wage determination', '5Biv  Hours Regulations',
       '5Bv Cost of worker dismissal', '5Bvi  Conscription',
       '5Bvii Foreign Labor', '5B  Labor market regulations',
       '5Ci  Regulatory Burden', '5Cii  Bureacracy costs',
       '5Ciii  Impartial Public Administration', '5Civ Tax compliance',
       '5C  Business regulations', '5Di  Market openness',
       '5Dii Business Permits', '5Diii Distorton of the business environment',
       '5D Freedom to enter markets and compete', '5  Regulation',
       'Area 5 Rank', 'World Bank Region',
       'World Bank Current Income Classification, 1990-present'],
      dtype='object')

In [61]:
# Setting up independent and dependent variables for regression modeling
X = efw_data_cleaned['1A Government consumption']  # Independent variables
Y = efw_data_cleaned['Economic Freedom Summary Index']  # Dependent variable